html {
 background: #363636; 
}

header {
  width: 100%;
  color: #4f61ff;
  background-color: #363636;
}

.centerImage {
  display:grid;
  margin-left: auto;
  margin-right: auto;
}

main {
  text-align: center;
  background-color: #363636;
  color: #ffffff;
}

main > h1 {
  font-size: 175%;
}

.table {
  text-align: center;
  align-content: center;
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}

footer {
  display:grid;
  width: auto;
  padding: 5px 5px;
  text-align: left;
  vertical-align: middle;
  background-color: #404CB2;
  color: #FFD84F;
}

.carousel-inner > .item > img {
    margin: 0 auto;
	height: 100%;
}

.navbar.navbar-inverse {
	background-color: #363636;
	border: none;
}

header div#logoText {
	float: right;
	padding-top: 25px;
}

main p {
	padding-bottom: 25px;
}